<html>
    {# Load the tag library #}
    {% load bootstrap4 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    
    <body>
        <nav class="navbar navbar-default navbar-fixed-top bg-light" role="navigation">
        <a class="navbar-brand" href="#">My Tweets</a>
        <p class="navbar-brand navbar-right">User profile Page</p>
        </nav>
        <div class="container">
            {% block content %}
            <h1 class="text-info">Hello {{name}}!</h1>
            {% endblock %}
        </div>
        <footer class="navbar navbar-default navbar-fixed-bottom bg-light" role="navigation">
        <p class="navbar-brand navbar-right">Footer</p>
        </footer>
    </body>
</html>

